<figure class="{{ .figureClass | default (site.Params.image.figureClass | default "figure") }}">
    {{- if .link -}}
        <a href="{{ .link }}"{{ with .target }} target="{{ . }}"{{ end }}{{ with .rel }} rel="{{ . }}"{{ end }}>
    {{- end -}}
    {{ partial "exercises/image" . -}}
    {{- if .link }}</a>{{ end -}}
    {{- if or (or .title .caption) .attr -}}
        <figcaption>
            {{ with .figureTitle -}}
                <h4>{{ . }}</h4>
            {{- end -}}
            {{- if or .caption .attr -}}<p>
                {{- .caption | markdownify -}}{{ if .attr }}, {{ end -}}
                {{- with .attrLink }}
                    <a href="{{ . }}">
                {{- end -}}
                {{- .attr | markdownify -}}
                {{- if .attrLink }}</a>{{ end }}</p>
            {{- end }}
        </figcaption>
    {{- end }}
</figure>
