<figure{{ with .figureClass | default "figure-caption" }} class="{{ . }}"{{ end }}>
    {{- if .link -}}
        <a href="{{ .link }}"{{ with .target }} target="{{ . }}"{{ end }}{{ with .rel }} rel="{{ . }}"{{ end }}>
    {{- end -}}
    {{ partial "exercises/image" .img }}
    {{- if .link }}</a>{{ end -}}
    {{- if or (or .title .caption) .attr -}}
        <figcaption>
            {{ with .title -}}
                <h4>{{ . }}</h4>
            {{- end -}}
            {{- if or .caption .attr -}}<p>
                {{- .caption | markdownify -}}
                {{- with .attrlink }}
                    <a href="{{ . }}">
                {{- end -}}
                {{- .attr | markdownify -}}
                {{- if .attrlink }}</a>{{ end }}</p>
            {{- end }}
        </figcaption>
    {{- end }}
</figure>