{{- /* set variables */ -}}
{{- $img := .page.Resources.GetMatch .src -}}
{{- if not $img }}
  {{- warnf "No image resource found at %s%s" .page.RelPermalink .src -}}
{{- end -}}
{{- $src := "" -}}
{{- $srcsetOrig := slice -}}
{{- $srcsetWebp := slice -}}
{{- $widths := slice -}}
{{- /* change ratio of image if .fillRatio slice is provided */ -}}
{{- if .fillRatio -}}
  {{- $fillWidth := "" -}}
  {{- $fillHeight := "" -}}
  {{- /* height to width ratio of src image */ -}}
  {{- /* numbers must be converted to float before division or they will create an answer of 0 */ -}}
  {{- $imgRatio := div ($img.Height | float) ($img.Width | float) -}}
  {{- /* height to width ratio of .fillRatio */ -}}
  {{- /* numbers must be converted to float before division or they will create an answer of 0 */ -}}
  {{- $fillRatio := div (index .fillRatio 1 | float) (index .fillRatio 0 | float) -}}
  {{- /* if image ratio is greater than .fillRatio, keep width and crop height */ -}}
  {{- if gt $imgRatio $fillRatio -}}
    {{- $fillWidth = $img.Width -}}
    {{- /* resulting fillHeight must be converted to integer for use with image resize */ -}}
    {{- $fillHeight = mul $img.Width $fillRatio | int -}}
  {{- else -}}
  {{- /* if image ratio is equal to or less than .fillRatio, keep height and crop width */ -}}
    {{- /* reverse .fillRatio numbers, to apply crop to width */ -}}
    {{- /* numbers must be converted to float before division or they will create an answer of 0 */ -}}
    {{- $fillRatio = div (index .fillRatio 0 | float) (index .fillRatio 1 | float) -}}
    {{- $fillHeight = $img.Height -}}
    {{- /* resulting fillWidth must be converted to integer for use with image resize */ -}}
    {{- $fillWidth = mul $img.Height $fillRatio | int }}
  {{- end -}}
  {{- /* process image */ -}}
  {{- $img = $img.Fill (printf "%dx%d q100" $fillWidth $fillHeight) -}}
{{- end -}}

{{/* if .width present for pixel density srcset */}}
{{- if .width -}}
  {{- $densities := .densities | default (slice 1 2) -}}
  {{- $densities = sort $densities -}}
  {{- range $density := $densities }}
    {{- $widths = $widths | append (slice 
      (dict 
        "desc" (printf "%dx" $density)
        "width" (mul $.width $density)
      )
    ) -}}
  {{- end -}}
{{- else -}}
{{/* else produce responsive srcset */}}
  {{- $userWidths := .widths | default (slice 500 800 1200) -}}
  {{- $userWidths = sort $userWidths -}}
  {{- range $userWidth := $userWidths }}
    {{- $widths = $widths | append (slice 
      (dict 
        "desc" (printf "%dw" $userWidth)
        "width" $userWidth
      )
    ) -}}
  {{- end -}}
{{- end -}}
{{- /* generate images at each width */ -}}
{{- range $index, $width := $widths -}}
  {{- if gt $width.width $img.Width -}}
      {{- warnf "Source image %s is not wide enough to resize to %dpx" $img.RelPermalink $width.width -}}
    {{- end -}}
  {{- /* resize image */ -}}
  {{- $imgResizedOrig := $img.Resize (printf "%dx" $width.width) -}}
  {{- $imgResizedWebp := $img.Resize (printf "%dx webp" $width.width) -}}
  {{- /* add image to srcset array/slice with format "/path/image.jpg 100w" */ -}}
  {{- $srcsetOrig = $srcsetOrig | append (printf "%s %s" $imgResizedOrig.RelPermalink $width.desc) -}}
  {{- $srcsetWebp = $srcsetWebp | append (printf "%s %s" $imgResizedWebp.RelPermalink $width.desc) -}}
  {{- /* if 1x density (First iteration), add image to src variable for use as fallback */ -}}
  {{- if and $.width (eq $index 0) -}}
    {{ $src = $imgResizedOrig -}}
  {{- else -}}
    {{- /* if largest width (last iteration), add image to src variable for use as fallback */ -}}
    {{- if eq (len $widths) (add $index 1) -}}
      {{ $src = $imgResizedOrig -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- /* convert srcset array/slice into a string, delimit with , between each image */ -}}
{{- $srcsetOrig = delimit $srcsetOrig ", " -}}
{{- $srcsetWebp = delimit $srcsetWebp ", " -}}
{{- /* generate picture tag */ -}}
<picture>
  <source srcset="{{ $srcsetWebp }}" type="image/webp">
  <source srcset="{{ $srcsetOrig }}" type="{{ $src.MediaType }}">
  <img 
    src="{{ $src.RelPermalink }}" 
    alt="{{ .alt }}" 
    height="{{ $src.Height }}" 
    width="{{ $src.Width }}"
    class="{{ .class | default "img-fluid" }}"
    sizes="{{ .sizes | default "100vw" }}">
</picture>
